  <input type="search" id="nav-filter" placeholder="Start typing to filter…" aria-label="Filter navigation items">
  


  
    <div class="app-auth module">
      <table>
        <caption>
          <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>
        
          <tbody><tr class="model-group">
            
              <th scope="row"><a href="/admin/auth/group/">Groups</a></th>
            

            
              <td><a href="/admin/auth/group/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-user">
            
              <th scope="row"><a href="/admin/auth/user/">Users</a></th>
            

            
              <td><a href="/admin/auth/user/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-bill module">
      <table>
        <caption>
          <a href="/admin/bill/" class="section" title="Models in the Bills application">Bills</a>
        </caption>
        
          <tbody><tr class="model-bill_detail">
            
              <th scope="row"><a href="/admin/bill/bill_detail/">Bill detail</a></th>
            

            
              <td><a href="/admin/bill/bill_detail/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-bill">
            
              <th scope="row"><a href="/admin/bill/bill/">Bills</a></th>
            

            
              <td><a href="/admin/bill/bill/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
        
      </tbody></table>
    </div>
  
    <div class="app-chat module">
      <table>
        <caption>
          <a href="/admin/chat/" class="section" title="Models in the Chat application">Chat</a>
        </caption>
        
          <tbody><tr class="model-message">
            
              <th scope="row"><a href="/admin/chat/message/">Messages</a></th>
            

            
              <td><a href="/admin/chat/message/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-room">
            
              <th scope="row"><a href="/admin/chat/room/">Rooms</a></th>
            

            
              <td><a href="/admin/chat/room/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-configuration module current-app">
      <table>
        <caption>
          <a href="/admin/configuration/" class="section" title="Models in the Configuration application">Configuration</a>
        </caption>
        
          <tbody><tr class="model-country">
            
              <th scope="row"><a href="/admin/configuration/country/">Countries</a></th>
            

            
              <td><a href="/admin/configuration/country/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-language_detail">
            
              <th scope="row"><a href="/admin/configuration/language_detail/">Language Detail</a></th>
            

            
              <td><a href="/admin/configuration/language_detail/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-languages">
            
              <th scope="row"><a href="/admin/configuration/languages/">Languages</a></th>
            

            
              <td><a href="/admin/configuration/languages/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-location">
            
              <th scope="row"><a href="/admin/configuration/location/">Locations</a></th>
            

            
              <td><a href="/admin/configuration/location/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-member_user">
            
              <th scope="row"><a href="/admin/configuration/member_user/">Member_ users</a></th>
            

            
              <td><a href="/admin/configuration/member_user/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-organization current-model">
            
              <th scope="row"><a href="/admin/configuration/organization/" aria-current="page">Organizations</a></th>
            

            
              <td><a href="/admin/configuration/organization/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-products module">
      <table>
        <caption>
          <a href="/admin/product/" class="section" title="Models in the Products application">Products</a>
        </caption>
        
          <tbody><tr class="model-category">
            
              <th scope="row"><a href="/admin/product/category/">Categorys</a></th>
            

            
              <td><a href="/admin/product/category/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-product">
            
              <th scope="row"><a href="/admin/product/product/">Products</a></th>
            

            
              <td><a href="/admin/product/product/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-service">
            
              <th scope="row"><a href="/admin/products/service/">Services</a></th>
            

            
              <td><a href="/admin/products/service/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-store">
            
              <th scope="row"><a href="/admin/products/store/">Stores</a></th>
            

            
              <td><a href="/admin/products/store/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-subservice">
            
              <th scope="row"><a href="/admin/products/subservice/">Sub services</a></th>
            

            
              <td><a href="/admin/products/subservice/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-unit">
            
              <th scope="row"><a href="/admin/products/unit/">Units</a></th>
            

            
              <td><a href="/admin/products/unit/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-vendors">
            
              <th scope="row"><a href="/admin/products/vendors/">Vendorss</a></th>
            

            
              <td><a href="/admin/products/vendors/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-shopapp module">
      <table>
        <caption>
          <a href="/admin/shopapp/" class="section" title="Models in the Shopapp application">Shopapp</a>
        </caption>
        
          <tbody><tr class="model-asset">
            
              <th scope="row"><a href="/admin/shopapp/asset/">Asset</a></th>
            

            
              <td><a href="/admin/shopapp/asset/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-log">
            
              <th scope="row"><a href="/admin/shopapp/log/">Log</a></th>
            

            
              <td><a href="/admin/shopapp/log/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </tbody></table>
    </div>
  
    <div class="app-user_requests module">
      <table>
        <caption>
          <a href="/admin/user_requests/" class="section" title="Models in the User_Requests application">User_Requests</a>
        </caption>
        
          <tbody><tr class="model-request">
            
              <th scope="row"><a href="/admin/user_requests/request/">Requests</a></th>
            

            
              <td><a href="/admin/user_requests/request/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
          <tr class="model-services">
            
              <th scope="row"><a href="/admin/user_requests/services/">Servicess</a></th>
            

            
              <td><a href="/admin/user_requests/services/add/" class="addlink">Add</a></td>
            

            
          </tr>
        
      </tbody></table>
    </div>
  

