//
// _form-control.scss
//

.form-icon {
  position: relative;
  .form-control-icon {
    padding-left: $input-padding-x * 3;
    position: relative;
  }
  i {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 18px;
    display: flex;
    align-items: center;
  }
  &.right {
    .form-control-icon {
      padding-right: $input-padding-x * 3;
      padding-left: $input-padding-x;
      position: relative;
    }
    i {
      left: auto;
      right: 18px;
    }
  }
}

[data-layout-mode="dark"] {
  .form-select {
    background-image: escape-svg(
      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$gray-400}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>")
    );
    background-color: var(--#{$prefix}gray-200) !important;
    border-color: var(--#{$prefix}border-color) !important;
    color: var(--#{$prefix}body-color);
    
    &:focus {
      background-color: var(--#{$prefix}gray-200) !important;
      border-color: var(--#{$prefix}primary);
      box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix}primary-rgb), 0.25);
    }
    
    &:disabled {
      background-color: var(--#{$prefix}gray-300) !important;
      color: var(--#{$prefix}gray-500);
      opacity: 1;
    }
  }

  .form-control {
    background-color: var(--#{$prefix}gray-200) !important;
    border-color: var(--#{$prefix}border-color) !important;
    color: var(--#{$prefix}body-color);
    
    &:focus {
      background-color: var(--#{$prefix}gray-200) !important;
      border-color: var(--#{$prefix}primary);
      box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix}primary-rgb), 0.25);
      color: var(--#{$prefix}body-color);
    }
    
    &:disabled {
      background-color: var(--#{$prefix}gray-300) !important;
      color: var(--#{$prefix}gray-500);
      opacity: 1;
    }
    
    &::placeholder {
      color: var(--#{$prefix}gray-500);
    }
  }
  
  .form-control-plaintext {
    color: var(--#{$prefix}body-color);
  }
  
  .form-control.is-invalid,
  .was-validated .form-control:invalid {
    border-color: var(--#{$prefix}danger);
    
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix}danger-rgb), 0.25);
    }
  }
  
  .form-control.is-valid,
  .was-validated .form-control:valid {
    border-color: var(--#{$prefix}success);
    
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(var(--#{$prefix}success-rgb), 0.25);
    }
  }
  
  .input-group-text {
    background-color: var(--#{$prefix}gray-300);
    border-color: var(--#{$prefix}border-color);
    color: var(--#{$prefix}body-color);
  }
  
  .input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-color: var(--#{$prefix}border-color);
  }
}
