  {% load jalali_tags %}
{% load static %}
<html lang="en-us" dir="ltr" >
    <head> 
        <title>Add Bill | Django site admin</title>
        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
        <!-- <script src="/static/admin/js/nav_sidebar.js" defer=""></script> -->
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/css/common.css">
        <link rel="stylesheet" type="text/css" href="/static/assets/css/fontawesome.min.css">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <link rel="stylesheet" href="/static/assets/css/toastr.min.css">

    <meta name="robots" content="NONE,NOARCHIVE">
    <style>
        .danger-btn{
            font-weight: 900; 
            font-size: 16px; 
            background-color: red; 
            color: black; 
            padding: 0px; 
            margin: 0px;
            padding:0.4%;
        }
        .bill_creator{
            font-size:xx-large;
            font-weight: 900;
            color:black
        }
        .bill_acceptor{
            font-size:xx-large;
            font-weight: 900;
            color:crimson
        }

        select{
            font-weight: 900;
            /* color:blue */
        }
        
        input[type=number],input[type=text]{
            font-weight: 900;
            /* color:blue */
        }
    </style>
    </head>

<body class=" app-shopapp model-Bill change-form" data-admin-utc-offset="0" style="background-color:antiquewhite">
<!-- Container -->
<div id="container"> 
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
             <h1 id="site-name"><a href='/'><h1 style='color:rgb(255, 174, 0); font-weight:bold; text-align:center; font-size:40px'>{{organization}}</h1></a></h1>
       </div>
 
        <div id="user-tools">
                Welcome,
                <strong>{{user}}</strong>.
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>   
        </div>
    </div>
    
    <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="/admin/">Home</a>
    › <a href="/admin/bill/bill/">Bill</a>
    › <a href="/admin/bill/bill/add">Add Bill</a>
    </div>
    <div class="main shifted" id="main"> 
            
        <div class="content">
                   
                    <div class="colM">{% if messages %} {% for message in messages %} {% if message.tags == "error" %} <div class='alert alert-danger' style="background-color:rgb(176, 122, 122);font-weight:bolder;text-align:center;padding:12px;font-size:15px"> {%  else %} <div class='alert alert-danger' style="background-color:lightgreen;font-weight:bolder;text-align:center;padding:12px;font-size:15px"> {%endif%}  {{ message}} </div> {% endfor %} {% endif %}</div>
    
            <!-- Content -->
            
            <div id="content" class="colM">   
                <input type="hidden" id="detail_or_update" {% if bill %}  value="1"  {% else %} value="0"  {% endif %} >
                
                <form method="post" action='{{request.META.HTTP_NAME}}/bill/insert/'   id="bill" >                 
                        {% csrf_token %}       
                <table>
                <tr class="bill_creator">
                     <td>
                        Bill Creator Organization
                    </td>
                    <td>     
                        <span style="display:inline;margin:3%">
                                <select type="text"  name="organization"  id="organization">     
                                    {% for row in organizations %}
                                    <option value="{{row.id}}" {% if row == bill.organization or row == organization %} selected {% endif %}>{{row}} </option>
                                    {% endfor %}
                                </select>
                            </span>  
                    </td> 
                </tr> 
                <tr class="bill_creator">
                    <td >
                        Bill type
                    </td>
                    <td>
                        <span  > 
                            <select type="text" name="bill_type"  value="{{bill.bill_type}}"   required="" id="bill_type">     
                                <option {% if bill %} {% if bill.bill_type == 'PURCHASE' %} selected {% endif %} {% endif %} value="PURCHASE">PURCHASE</option>
                                <option {% if bill %} {% if bill.bill_type == 'SELLING' %} selected {% endif %} {% endif %} value="SELLING">SELLING</option>    
                            </select>   
                        </span>
                    </td>
                    
                    <td>Bill Creator User</td>
                    <td>     
                        <span style="display:inline;margin:3%">                   
                            <input type="text" disabled name="creator" {% if bill %} value="{{bill.creator}}" {% else %}  value="{{user.username}}" {% endif %} placeholder="creator"  class="" required="" id="creator">     
                        </span>  
                    </td>
                    <!-- </span>  -->
                    <td> 
                        <!-- style="float:right;display:inline;font-size:x-large;font-weight: 900;color:darkred"  -->
                    <span>System Bill ID 
                    </span>
                    </td>
                    <td>
                        <input type="number"  value="{{bill.id}}" disabled name="bill_id" id="bill_id" >
                    </td>
                </tr>
            
                    <tr class="bill_creator">
                         <td>
                             bill No 
                        </td>    
                        <td>                                       
                            <span > 
                            <input type="number"  name="bill_no" id="bill_no"  {% if bill.bill_no %} value="{{bill.bill_no}}" {% else %} value="{{bill_no}}" {% endif %} placeholder="بل شمیره" class="" required="" >                      
                          
                            </span> 
                        </td>
                        
                        <td>
                            Date
                        </td>
                        <td>
                            <span style="display:inline;margin:1%">
                                        {{form.date}}                              
                            </span>
                        </td>
                        
                    </tr>  
                    <tr class="bill_creator">    
                        
                        <td>
                            Bill Status
                        </td>
                        <td>
                            <span style="display:inline;margin:3%">
                            <input type="checkbox" {% if bill.bill_receiver2.is_approved %} checked {% endif %}  name="is_approved" id="is_approved">

                            <select name="status" placeholder="status"  required id="status">     
                                <option value="0" {% if bill.bill_description.status == 0 %} selected {% endif %}>CREATED </option>    
                                <option value="1" {% if bill.bill_description.status == 1 %} selected {% endif %}>APPROVED</option>  
                                <option value="2" {% if bill.bill_description.status == 2 %} selected {% endif %}>REVERSED</option>
                                <option value="3" {% if bill.bill_description.status == 3 %} selected {% endif %}>REJECTED</option>
                            </select>
                            </span>
                        </td>
                         <td>
                            Total Bill 
                        </td>
                        <td>
                            <span style="display:inline;margin:3%">
                                <input type="number" id="total" name="total" step="any" disabled  value="{{bill.total}}" placeholder="مجموعه پیسی"   >                      
                            </span>   
                        </td> 
                        
                        
                        <td>Payment/Receivement</td>
                        <td>
                            <span style="display:inline;margin:3%">
                                        <input type="number" name="total_payment" {% if bill %} value="{{bill.payment}}"  {% else %} value="0" {% endif %} placeholder="مجموعه ادا" required="" id="total_payment"  min="0"  step="0.0001">                      
                            </span>
                        </td>
                    </tr>
                    <tr class="bill_acceptor" >
                        <td>
                           Bill Receiver Organization
                        </td> 
                        <td>              
                            <span style="display:inline;margin:1%" id="rcvr_org_span">
                                <select type="text"  name="bill_rcvr_org" placeholder="مقابل لوری" class="" required="" id="bill_rcvr_org">     
                                    {% for row in rcvr_orgs %}
                                    <option  {% if bill.bill_receiver2.bill_rcvr_org == row %} selected  {% endif %} value="{{row.id}}">{{row}}</option>
                                    {% endfor %}
                                </select>     
                                <a href="/admin/configuration/organization/add/" class="addlink"></a>                       
                            </span>
                        </td>
                        <td>
                           Profit/Loss
                        </td> 
                        <td>      
                            <input type="text" disabled value="{{bill.profit}}"/>        
                        </td>
                    </tr> 
                    <tr class="bill_acceptor">
                        <td>
                            Approval User
                        </td>
                        <td>
                            <span style="display:inline;margin:3%">
                            <input type="text" name="approval_user" value="{{bill.bill_receiver2.approval_user}}"  placeholder="approval_user " disabled id="approval_user" >                      
                            </span>
                        </td>
                        <td>
                            Approval Date
                        </td>
                        <td>
                            <span style="display:inline;margin:3%">
                                <input type="text" name="approval_date"  placeholder="approval_date" value="{{bill.bill_receiver2.approval_date}}" disabled  id="approval_date" >                      
                            </span>
                        </td>
                    </tr>     
                    </table>
                    <div id="content-main">
                                <div>
                                    <fieldset class="module aligned ">    
                                             
                                        <table style="width:100%" id="table_form">
                                                <caption>
                                                    <a href="/admin/shopapp/" class="section" title="Models in the Shopapp application">Shopapp</a>
                                                </caption>
                                
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <label style="float:left"> Item name <a href="/admin/product/product/add/" class="addlink"></a></label>                      
                                                        </th>
                                                        <!-- <th>
                                                            <label >  Unit <a href="/admin/product/unit/add/" class="addlink"></a></label>   
                                                    </th> -->
                                                        <th>
                                                            <label > Item amount</label>   
                                                        </th>
                                                        <th>
                                                            <label>Item price</label>           
                                                        </th>
                                                        <th>
                                                            <label for="id_return_qty">Return qty</label>                     
                                                        </th>
                                                        <th>
                                                            <label for="action">Actions</label>                     
                                                        </th>
                                                    </tr>
                                                   
                                                    {% if bill_detail_set %}
                                                    
                                                    {% for detail in bill_detail_set %}
                                                    <tr>
                                                        <td> 
                                                            <div>
                                                            <select class="item_name" name="item_name">
                                                                {% for row in products %}
                                                            <option value="{{row.id}}"  {% if detail.product.id == row.id %} selected {% endif %}>{{row.item_name}}</option>
                                                                {% endfor %}
                                                            </select>
                                                            </div>
                                                        </td>
                                                        
                                                        <td>
                                                            <div>
                                                           
                                                            <input type="number"  value="{{detail.item_amount}}" name="item_amount" step="any" class="item_amount">
                                                             <select class="unit" name="unit">
                                                            {% for row in units %}
                                                            <option value="{{row.id}}"  {% if detail.unit.id == row.id %} selected {% endif %}>{{row.name}}</option>
                                                            {% endfor %}
                                                            </select>
                                                            </div>
                                                        </td>
                                                        <td><div><input type="number"  value="{{detail.item_price}}" name="item_price" step="any" class="item_price"></div></td>
                                                        <td>
                                                            <div><input type="number"  value="{{detail.return_qty}}" name="return_qty"  class="return_qty">
                                                            <input  type="hidden"  value="{{detail.id}}" name="bill_detail_id"  class="bill_detail_id" >
                                                            </div>
                                                        </td>
                                                        <td><input type="button" id="remove_btn" class="remove_btn" value="remove" onclick="remove_row(this,{{detail.id}})" style="background-color:red;color:black;"></td>
                                                        </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </thead>
                                                <tbody id="table_body">

                                                </tbody>
                                        </table>
                                    </fieldset>
                                    <div class="submit-row">

                                        {% if bill %}
                                        
                                        <input type="submit" value="Update" style="background-color:green; color:white" class="default" name="_save">
                                        {% else %}
                                        <input type="submit" value="Save" class="default" name="_save">
                                        {% endif %}
                                        <input type="button" value="جنس ډیرول" id="addnawajans" onclick="add_row()" name="addnawajans">
                                    
                                    </div> 
                            </div>
                        </form>
                   
                </div>  <!--end of div content-main-->
                    <br class="clear">
            </div>     <!--end of div colM-->
            <!-- END Content -->
            <div id="footer"></div>
        </div><!-- end of div content-->
    </div> <!--- end of div main shifted -->
</div><!-- end of div container -->
<!-- END Container -->


<div class="calendarbox module" id="calendarbox0" style="display: none; position: absolute;">
    <div>
        <a href="#" class="calendarnav-previous">&lt;</a>
        <a href="#" class="calendarnav-next">&gt;</a>
    </div>
    <div id="calendarin0" class="calendar">
        <table>
        <caption>June 2022</caption>
        <tbody>
        <tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr>
        <tr><td class="nonday"> </td><td class="nonday"> </td><td class="nonday"> </td><td class=""><a href="#">1</a></td><td class=""><a href="#">2</a></td><td class=""><a href="#">3</a></td><td class=""><a href="#">4</a></td></tr>
        <tr><td class=""><a href="#">5</a></td><td class=""><a href="#">6</a></td><td class=""><a href="#">7</a></td><td class=""><a href="#">8</a></td><td class=""><a href="#">9</a></td><td class=""><a href="#">10</a></td><td class=""><a href="#">11</a></td></tr><tr><td class=""><a href="#">12</a></td><td class=""><a href="#">13</a></td><td class=""><a href="#">14</a></td><td class=""><a href="#">15</a></td><td class=""><a href="#">16</a></td><td class=""><a href="#">17</a></td><td class=""><a href="#">18</a></td></tr>
        <tr><td class=""><a href="#">19</a></td><td class=""><a href="#">20</a></td><td class=""><a href="#">21</a></td><td class=""><a href="#">22</a></td><td class=""><a href="#">23</a></td><td class="today"><a href="#">24</a></td><td class=""><a href="#">25</a></td></tr><tr><td class=""><a href="#">26</a></td><td class=""><a href="#">27</a></td><td class=""><a href="#">28</a></td><td class=""><a href="#">29</a></td><td class=""><a href="#">30</a></td><td class="nonday"> </td><td class="nonday"> </td>
        </tr>
        </tbody>
        </table>
    </div>
   
    <p class="calendar-cancel"><a href="#">Cancel</a></p>
</div><!-- end of  calendarbox module div-->
</body>
</html>
 {{ form.media }}
  <script src="/static/assets/js/toastr.min.js"></script>
  <script src="/static/assets/js/axios.min.js"></script>
  <script src="/static/assets/js/cookie.js"></script>
<script src="/static/assets/js/common_entities/call_shirkat.js"></script>
<script src="/static/assets/js/common_entities/create_element.js"></script>

<script src="/static/assets/js/show_message.js"></script>
<script src="/static/assets/js/bill/bill_delete.js"></script>
<script src='/static/assets/js/common_entities/generate_ihsaya.js'></script>
<script src="/static/assets/js/bill/bill.js"></script>

<script src="/static/assets/js/bill/select_bill_no.js"></script>


{% if detail %}
<script>add_event_to_total()</script>
{% endif %}
<script>
</script>