<!-- {% load jalali_tags %}
{% load static %} -->
<html lang="en-us" dir="ltr">
    <head id="head">
        <title>Add Bill | Shirkat</title>

        <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
        <!-- <script src="/static/admin/js/nav_sidebar.js" defer=""></script> -->
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
        
        <!-- <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css"> -->
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <script src="/static/assets/js/cookie.js"></script>
        <script src="/static/assets/js/axios.min.js"></script>
          <script src="/static/assets/js/bootstrap.bundle.min.js" defer></script>
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>

<body class=" app-shopapp model-Bill change-form" data-admin-utc-offset="0" style="background-color:antiquewhite">
<!-- Container -->
<div id="container"> 
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href='/'><h1 style='color:rgb(255, 174, 0); font-weight:bold; text-align:center; font-size:40px'>{{organization}}</h1></a></h1>
        </div>
 
        <div id="user-tools">
                Welcome,
                 <strong>{{user}}</strong>
                    <a href="/">View site</a> /
                <a href="/admin/password_change/">Change password</a> /
                <a href="/admin/logout/">Log out</a>   
        </div>
    </div>
    
    <!-- END Header -->
        
    <div class="breadcrumbs">
    <a href="/admin/">Home</a>
    › <a href="/admin/bill/bill/">Bills</a>
    › Add Bill
    </div>

    <div class="main shifted" id="main"> 
        
        <div class="content">
            
            <!-- Content -->
            <div id="content" class="colM">   
                    

                <div id="content-main">
                            <div>
                                <fieldset class="module aligned ">   
                                    <ul class="object-tools">
                                        <li>
                                          <a style="font-size:20px" href="/admin/bill/bill/add/" class="addlink">
                                            Add PURCHASE|SELLING bill
                                          </a>
                                        </li> 
                                         <li>
                                          <a style="font-size:20px" href="/receive_payment/bill/" class="addlink">
                                            Add Receive Payment
                                          </a>
                                        </li> 
                                        <li>
                                          <a style="font-size:20px" href="/expenditure/bill/form/" class="addlink">
                                            Add Expense
                                          </a>
                                        </li>  
                                    </ul> 
                                    <table style="margin-left:auto;margin-right:auto;font-weight: 800;margin-bottom:2vh;">
                                        <thead style="font-weight: 800;">  
                                            <tr >
                                                <th>
                                                    اخستنی مجموعه
                                                </th>
                                                <th>
                                                    <input type="number" name="total_sum_purchase" id="total_sum_purchase">
                                                </th>
                                                <th>
                                                    اخستنی په وخت نغدی اداشوی
                                                </th>
                                                <th>
                                                    <input type="number" name="payment_sum_purchase" id="payment_sum_purchase">
                                                </th>
                                                <th>
                                                    په قرضو اخستل شوی مال مجموعه
                                                </th>
                                                <th>
                                                    <input type="number" name="notpaid_purchase" id="notpaid_purchase">
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    مجموعه خرڅلاو
                                                </th>
                                                <th>
                                                    <input type="number" name="total_sum_selling" id="total_sum_selling">
                                                </th>
                                                <th>
                                                    دخرڅلاو په وخت نغدی اخستل شوی 
                                                </th>
                                                <th>
                                                    <input type="number" name="payment_sum_selling" id="payment_sum_selling">
                                                </th>
                                                
                                                <th>
                                                    په قرضو خرڅلاو شوی مجموعه
                                                </th>
                                                <th>
                                                    <input type="number" name="notpaid_sell" id="notpaid_sell">
                                                </th>
                                            </tr>
                                            <tr>
                                                <!-- <th>
                                                    total_sum_payment 
                                                </th>
                                                <th>
                                                    <input type="number" name="total_sum_payment" id="total_sum_payment">
                                                </th> -->
                                                <th>
                                                    مجموعه نغدی اداشوی 
                                                </th>
                                                <th>
                                                    <input type="number" name="payment_sum_payment" id="payment_sum_payment">
                                                </th>
                                            <!-- </tr>
                                            <tr>  -->
                                                <!-- <th>
                                                    total_sum_receivement
                                                </th>    -->
                                                <!-- <th>
                                                    <input type="number" name="total_sum_receivement" id="total_sum_receivement">
                                                </th> -->
                                                <th>
                                                     مجموعه نغدی ترلاسه شوی
                                                </th>
                                                <th>
                                                    <input type="number" name="receivement_sum" id="receivement_sum">
                                                </th>
                                            <!-- </tr>
                                            <tr> -->
                                                <!-- <th>
                                                    په شرکت اوړیدلی پیسی
                                                </th>
                                                <th> -->
                                                    <input type="hidden" name="total_upon_self_org" id="total_upon_self_org">
                                                <!-- </th> -->
                                                <!-- <th>
                                                    په مقابل لوری اوړیدلی پیسی
                                                </th> 
                                                <th>-->
                                                    <input type="hidden" name="total_upon_opposit_org" id="total_upon_opposit_org">
                                                <!-- </th> -->
                                                <th>خلاصه کهاته </th>
                                                
                                                <th> <input type="number" name="total_summary" id="total_summary">
                                                </th>
                                            </tr>
                                            <tr> 
                                               
                                                <th>
                                                    مصرف
                                                </th>
                                                <th>
                                                    <input type="number" name="payment_sum_expense" id="payment_sum_expense">
                                                </th>
                                           
                                                <th>
                                                    مجموعه ګټه 
                                                </th>
                                                <th>
                                                    <input type="number" name="profit_sum" id="profit_sum">
                                                </th>
                                                <th>خلاصه ګټه (مجموعه ګټه - مصرف)</th>
                                                
                                                <th> <input type="number" name="net_profit_sum" id="net_profit_sum">
                                                </th>
                                                
                                            </tr>
                                            <tr>
                                                <th>
                                                    <div class="input-group">
                                                        <button class="btn btn-sm btn-warning" onclick="finalizeLedger()">کهاته صفر کول</button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                       
                                    </table>
                                     <table id="table_form" style="margin-left:auto;margin-right:auto;font-weight: 800;margin-bottom:2vh;">
                                         
                                        <!-- <caption>
                                                <a href="/admin/bill/" class="section" title="Models in the Bill application">Bill</a>
                                            </caption> -->
                               
                                           <thead style="font-weight: 800;">                                                
                                                <tr>
                                                    <span id="pagination_id" style="background-color:palegreen;font-size:20px;margin-top:3%"></span> 
                                                </tr>          
                                                <tr>
                                                   <th>
                                                          <span style="display:inline;margin:1%;" id="organization_span">
                                                            <select type="text" name="organization" placeholder="شرکت" class="" required="" id="organization">     
                                                                {% for row in organizations %}
                                                                <option value="{{row.id}}" >{{row}} </option>
                                                                {% endfor %}
                                                            </select>
                                                          </span>                    
                                                    </th> 
                                                     
                                                    
                                                    
                                                    <th style="display:inline-block">
                                                        <input style="display:inline-block;width:49%" type="number" placeholder="bill_no" name="bill_no" id="bill_no">                     
                                                    <!-- </th>
                                                    <th> -->
                                                        <select style="display:inline-block;width:49%" type="text" name="bill_type"  value="{{bill.bill_type}}"   required="" id="bill_type">     
                                                            <option  value="all">All bills</option>
                                                            <option  value="PURCHASE">PURCHASE</option>
                                                            <option value="SELLING">SELLING</option>    
                                                            <option value="PAYMENT">PAYMENT</option>
                                                            <option value="RECEIVEMENT">RECEIVEMENT</option>
                                                         
                                                            <option value="EXPENSE">EXPENSE</option>
                                                            
                                                        </select>  
                                                    </th>

                                                    <!-- <th>
                                                         <input type="text" placeholder="Owner" name="creator" id="creator">                       
                                                    </th> -->
                                                    <th>
                                                         <!-- <input type="text" name="bill_rcvr_org" placeholder="Shirkath/Shop/Customer" id="bill_rcvr_org">   -->
                                                        <select type="text"  name="bill_rcvr_org" placeholder="مقابل لوری" class="" required="" id="bill_rcvr_org">     
                                                            <option  value="">All Shirkat/Shop</option>
                                                            {% for row in rcvr_orgs %} 
                                                            <option  value="{{row.id}}">{{row}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </th>

                                                   

                                                    
                         
                                                    <th>
                                                        <span style="display:inline;margin-right:1%;margin-left:2%"> From:{{form.start_date}} </span>          
                                                    </th>
                                                    <th>
                                                        <span style="display:inline;margin-right:1%;margin-left:2%"> To:{{form.end_date}} </span>          
                                                    </th>
                                                    <th>
                                                       <button id="search_kahatha" class="btn btn-sm"   style="background-color:lightgreen;padding:2%;border-radius:4%"> کهاته لـټول </button>                  
                                                    </th>
                                                    <th>
                                                          <input type="hidden" placeholder="Organization" id="organization" name="organization">                     
                                                    </th>
                                                    
                                                </tr>
                                                <tr>
                                                   
                                                     <th>
                                                        <label style="float:left"  >  Organization</label>                      
                                                    </th> 
                                                 
                                                    <th>
                                                        <label style="float:left"  >  bill No</label>                      
                                                    </th>

                                               
                                                    <th>
                                                         <label >(Opposit)Vendors</label>   
                                                    </th>
                                                    <th>
                                                          <label for="id_return_qty">total_bill</label>                     
                                                    </th>
                                                    <th>
                                                          <label>payment</label>           
                                                    </th>
                                                    <!-- <th>
                                                          <label for="id_return_qty">discount</label>                     
                                                    </th> -->
                                                    <th>
                                                        <label>date</label>
                                                    </th>
                                                    <th><label>Actions</label></th>
                                                </tr>
                                                
                                           </thead>
                                           <tbody id="bill_tbody">
                                                    
                                            </tbody>
                                  
                                    </table>
                                   
                                <!-- <div id="myGrid" style="height: 200px; width:100%;" class="ag-theme-alpine"></div> -->
                                </fieldset>
                                
                        </div>
                      
                        
                    </form>
                </div>  <!--end of div content-main-->
                    <br class="clear">
            </div>     <!--end of div colM-->
            <!-- END Content -->
            <div id="footer"></div>
        </div><!-- end of div content-->
    </div> <!--- end of div main shifted -->
</div><!-- end of div container -->
<!-- END Container -->



</div><!-- end of  calendarbox module div-->
</body>
</html>
{{ form.media }}


<script src="/static/assets/js/common_entities/call_shirkat.js"></script>
<script src="/static/assets/js/bill/select_bill_no.js"></script>
<script src="/static/assets/js/toastr.min.js"></script> 
<script src="/static/assets/js/show_message.js"></script>  
<script src="/static/assets/js/common_entities/create_element.js"></script>
<script src="/static/assets/js/configuration/organization.js"></script>
<!-- <script src="/static/assets/js/bill/bill.js"></script> -->
<script src="/static/assets/js/vendor/show_vendor.js"></script>
<!-- <script>bills()</script> -->
<script src="/static/assets/js/bill/bill_search.js"></script>
<script src="/static/assets/js/bill/translate_persian_months.js">
</script>
    