# .dockerignore
node_modules
dist
.git
.vscode
.idea
*.log
.zip
Dockerfile
docker-compose*.yml

# keep most of .yarn ignored, but allow releases/plugins/patches/sdks
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/sdks
